@page
@model IndexModel

<div id="app">
    <input type="number" v-model="price">
    <p>{{price}}</p>
</div>

@section scripts  {
    <script src="https://unpkg.com/vue@next"></script>
    <script src="~/js/admin/main.js"></script>
}